Date fields should probably not be date-time

date-time fields are validated against [RFC 3339 section 5.6](http://tools.ietf.org/html/rfc3339#section-5.6), which looks like: `YYYY-MM-DDThh:mm:ssZ`. If you want to allow dates without times, then you should use a regex, like Popolo does for a [person's birth date](http://popoloproject.com/schemas/person.json). For example, the following regex allows only dates without times. A more complex regex can make times optional:

``` json
{
  "releaseDate": {
    ...
    "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
},
```
